[submodule "vendor/github.com/crowdmob/goamz"]
	path = vendor/github.com/crowdmob/goamz
	url = https://github.com/crowdmob/goamz
[submodule "vendor/github.com/garyburd/go-oauth"]
	path = vendor/github.com/garyburd/go-oauth
	url = https://github.com/garyburd/go-oauth
[submodule "vendor/github.com/gorilla/mux"]
	path = vendor/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "vendor/github.com/gorilla/securecookie"]
	path = vendor/github.com/gorilla/securecookie
	url = https://github.com/gorilla/securecookie
[submodule "vendor/github.com/kjk/atomgenerator"]
	path = vendor/github.com/kjk/atomgenerator
	url = https://github.com/kjk/atomgenerator
[submodule "vendor/github.com/kjk/u"]
	path = vendor/github.com/kjk/u
	url = https://github.com/kjk/u
