<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>List of forums</title>
	<link href="/static/default.css" rel="stylesheet" type="text/css">
	<script language="javascript" src="/static/default.js" type="text/javascript"></script>
</head>

<body>
  <div id="tbTop"> {{ log_in_out }} </div>
	<p>Welcome to <b><font color="blue">Fo</font></b>rums <b><font color="blue">Fo</font></b>r Yo<b><font color="blue">u</font></b>!</p>

		{% if forums %}
			<p>Available forums:
				<ul>
					{% for f in forums %}
					<li> <a href="/{{ f.url }}"> {{ f.title_or_url }}</a></li>
					{% endfor %}
				</ul>
			</p>
		{% else %}
			<p>There are no forums created yet.</p>
		{% endif %}

		{% if not isadmin %}
			<p>Log in as admin to create new forums or manage existing forums.</p>
		{% endif %}
	</div>

<hr>
<center>Powered by <a href="http://blog.kowalczyk.info/software/fofou">fofou</a> 
(<b><font color="blue">Fo</font></b>rums <b><font color="blue">Fo</font></b>r Yo<b><font color="blue">u</font></b>,
created by <a href="http://blog.kowalczyk.info">Krzysztof Kowalczyk</a>)</center>
<br>
</body>
</html>
