<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>{{ title }}</title>
	<link href="/fofou.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="tbTop"> {{ log_in_out }} </div>
<table>
<tbody>
<tr>
	<td colspan="2" class="header">
		<div>
			<h1><a href="{{ siteroot }}" class="green">{{ title }}</a></h1>
			<p>{{ tagline }}</p>
		</div>
	</td>
</tr>
<tr>
	<td class="sidebar">{{ sidebar}}
	</td>
	<td class="contents">
		<div class="posts">
			<h3>{{ subject|escape }}</h3>
			{% for post in posts %}
				<div>
					<div class="">{{ post.message|escape }}</div>
					<div class="signature">
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="buttons">
		{% if is_archived %}
			<p><i>This topic is archived. No further replies will be accepted.</i></p>
		{% endif %}

		<a accesskey="t" href="{{ siteroot }}">
			<img src="/graphics/topics.gif" alt="Other recent topics" border="0" height="14" width="13">
			Other recent <u>t</u>opics
		</a>

		{% if not is_archived %}
		<a accesskey="r" href="{{ posturl }}">
			<img src="/graphics/edit.gif" alt="Reply to this topic" border="0" height="14" width="13">
			<u>R</u>eply to this topic
		</a>
		{% endif %}
		</div>
	</td>
</tr>
</tbody>
</table>
<hr>
<center>Powered by <a href="http://blog.kowalczyk.info/software/fofou">fofou</a> (<b><font color="blue">Fo</font></b>rums <b><font color="blue">Fo</font></b>r Yo<b><font color="blue">u</font></b>)</center>
</body>
</html>

