<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>{{ title }}</title>
	<link href="/fofou.css" rel="stylesheet" type="text/css">
	<script language="javascript" src="/fofou.js" type="text/javascript"></script>
</head>

<body>
<div id="tbTop"> {{ log_in_out }} </div>
<table>
<tbody>
<tr>
	<td colspan="2" class="header">
		<div>
			<h1><a href="{{ siteroot }}" class="green">{{ title }}</a></h1>
			<p>{{ tagline }}</p>
		</div>
	</td>
</tr>
<tr>
	<td class="sidebar">{{ sidebar}}
	</td>
	<td class="contents">
		<div class="posts">

		<script language="javascript" type="text/javascript">
		<!--
		rolloverInit('link', '/graphics/link_over.jpg');
		rolloverInit('email', '/graphics/email_over.jpg');
		rolloverInit('web', '/graphics/web_over.jpg');
		rolloverInit('delete', '/graphics/delete_over.jpg');
		rolloverInit('undo', '/graphics/undo_over.jpg');
		// -->
		</script>

			<h3>{{ subject|escape }}</h3>
			{% for post in posts %}
				<div>
					<div class="">{{ post.message|escape }}</div>
					<div class="signature">

						<a href="{{ permalink }}" title="Permalink" onmouseover="rolloverOn('link', {{ post.key.id }});" onmouseout="rolloverOff();"><img align="right" id="link{{ post.key.id }}" src="/graphics/link.jpg" alt="Permalink" border="0" height="16" width="16"></a>

						{% if post.user_email %}
							<a href="{{ Fixme }}" title="Send private email" onmouseover="rolloverOn('email', '{{ post.key.id }}');" onmouseout="rolloverOff();"><img align="right" id="email{{ post.key.id }}" src="/graphics/email.jpg" alt="Send private email" border="0" height="16" width="16"></a>
						{% endif %}
						{% if is_admin %}
							{% if post.is_deleted %}
								<a href="{{ siteroot }}moderate?undel={{ post.key.id }}&ret={{ Fixme }}" title="Undelete Post" onmouseover="rolloverOn('undo', {{ post.key.id }});" onmouseout="rolloverOff();"><img align="right" id="undo{{ post.key.id }}" src="/graphics/undo.jpg" width="16" height="16" border="0" /></a>
							{% else %}
								<a href="{{ siteroot }}moderate?del={{ post.key.id }}&ret={{ Fixme }}" title="Delete Post" onmouseover="rolloverOn('delete', {{ post.key.id }});" onmouseout="rolloverOff();"><img align="right" id="delete{{ post.key.id }}" src="/graphics/delete.jpg" width="16" height="16" border="0" /></a>
							{% endif %}
						{% endif %}
						{{ post.user_name|escape }}
						<span class="noIE">&nbsp;</span><br />
						{{ post.posted_on_str }}
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="buttons">
		{% if is_archived %}
			<p><i>This topic is archived. No further replies will be accepted.</i></p>
		{% endif %}

		<a accesskey="t" href="{{ siteroot }}">
			<img src="/graphics/topics.gif" alt="Other recent topics" border="0" height="14" width="13">
			Other recent <u>t</u>opics
		</a>

		{% if not is_archived %}
		<a accesskey="r" href="{{ posturl }}">
			<img src="/graphics/edit.gif" alt="Reply to this topic" border="0" height="14" width="13">
			<u>R</u>eply to this topic
		</a>
		{% endif %}
		</div>
	</td>
</tr>
</tbody>
</table>
<hr>
<center>Powered by <a href="http://blog.kowalczyk.info/software/fofou">fofou</a> (<b><font color="blue">Fo</font></b>rums <b><font color="blue">Fo</font></b>r Yo<b><font color="blue">u</font></b>)</center>
</body>
</html>

