<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>{{ title }}</title>
	<link href="/fofou.css" rel="stylesheet" type="text/css">
	<link type="application/rss+xml" rel="alternate" title="Discussion Group" href="{{ rssurl }}">
</head>

<body>
<div id="tbTop"> {{ log_in_out }} </div>
<table>
<tbody>
<tr>
	<td colspan="2" class="header">
		<div>
			<h1><a href="{{ siteroot }}" class="green">{{ title }}</a></h1>
			<p>{{ tagline }}</p>
			<a href="{{ rssurl }}" title="RSS feed"><img src="/graphics/rss.gif" alt="RSS feed" align="right" valign="middle" border="0" height="14" width="36"></a><br />
		</div>
	</td>
</tr>
<tr>
	<td class="sidebar">
		{{ sidebar }}
	</td>
	<td class="contents">
		{% if not topics %}
			There are no topics. You better create one.
		{% else %}
		<div class="topics">
		{% for topic in topics %}
			<a href="{{ siteroot }}topic?key={{ topic.key }}" title="{{ topic.msg_short }}">{{ topic.subject }}</a>
			<em>{{ topic.user_name }}</em><span>{{ topic.posts }}</span>
			<br />
		{% endfor %}
		</div>
		{% endif %}
		<div class="buttons">
		<a accesskey="n" href="{{ posturl }}"><img src="/graphics/new.gif" alt="New topic" border="0" height="14" width="13"> <u>N</u>ew topic</a>
		<a accesskey="t" href="{{ archiveurl }}"><img src="/graphics/archive.gif" alt="Older topics" border="0" height="14" width="13"> Older <u>t</u>opics</a>
		</div>
	</td>
</tr>
</tbody>
</table>
<hr>
<center>Powered by <a href="http://blog.kowalczyk.info/software/fofou">fofou</a> (<b><font color="blue">Fo</font></b>rums <b><font color="blue">Fo</font></b>r Yo<b><font color="blue">u</font></b>)</center>
</body>
</html>
