<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fofou logs</title>
	<link href="/s/default.css" rel="stylesheet" type="text/css">
</head>
<body>

<h2><a href="/">Home</a> : Fofou logs
	<span style="font-size:50%;float:right;">{{if .User}}Logged in as {{.User}} (<a href="/logout?redirect={{.RedirectUrl}}">logout</a>){{else}}Not logged in. <a href="/login?redirect={{.RedirectUrl}}">Log in with Twitter</a>{{end}}</span>
</h2>

{{if not .UserIsAdmin}}No logs for you!!!{{end}}

{{if len .Errors}}
	<div style="color:red">Errors:</div>
	{{range .Errors}}
		<div><font style="color:gray;">{{.Time.Format "2006-01-02 15:04:05"}}</font> {{.Msg}}</div>
	{{end}}
{{end}}

{{if len .Notices}}
	<div>Notices:</div>
	{{range .Notices}}
		<div><font style="color:gray;">{{.Time.Format "2006-01-02 15:04:05"}}</font> {{.Msg}}</div>
	{{end}}
{{end}}

</body>
</html>
