<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>{{ forum.title_or_url }}</title>
	<link href="/static/default.css" rel="stylesheet" type="text/css">
	<script language="javascript" src="/static/default.js" type="text/javascript"></script>
</head>

<body>
<div id="tbTop"> {{ log_in_out }} </div>
<table>
<tbody>
<tr>
	<td colspan="2" class="header">
		<div>
			<h1><a href="{{ siteroot }}" class="green">{{ forum.title_or_url }}</a></h1>
			<p>{{ forum.tagline }}</p>
		</div>
	</td>
</tr>
<tr>
	<td class="sidebar">{{ forum.sidebar}}
	</td>
	<td class="contents">
		<script language="javascript" type="text/javascript">
		<!--
		rolloverInit('link', '/img/link_over.jpg');
		rolloverInit('email', '/img/email_over.jpg');
		rolloverInit('web', '/img/web_over.jpg');
		rolloverInit('delete', '/img/delete_over.jpg');
		rolloverInit('undo', '/img/undo_over.jpg');
		// -->
		</script>
		<div class="posts">
			<h3>{{ topic.subject|escape }}</h3>
			{% for post in posts %}
					<a name="{{ post.key.id }}"</a>
				<div>
					{% if post.is_deleted %}
						<div class="post deleted">{{ post.message|striptags|escape|urlize|linebreaksbr }}</div>
					{% else %}
						<div class="post">{{ post.message|striptags|escape|urlize|linebreaksbr }}</div>
					{% endif %}
					<div class="signature">
						<a href="{{ siteroot }}topic?id={{ topic.key.id }}#{{ post.key.id }}" title="Permalink" onmouseover="rolloverOn('link', {{ post.key.id }});" onmouseout="rolloverOff();"><img align="right" id="link{{ post.key.id }}" src="/img/link.jpg" alt="Permalink" border="0" height="16" width="16"></a>

						{% comment %}
						{% if post.user_email %}
							<a href="{{ siteroot }}email?post_id={{ post.key.id }}" title="Send private email" onmouseover="rolloverOn('email', {{ post.key.id }});" onmouseout="rolloverOff();"><img align="right" id="email{{ post.key.id }}" src="/img/email.jpg" alt="Send private email" border="0" height="16" width="16"></a>
						{% endif %}
						{% endcomment %}

						{% if is_moderator %}
							{% if post.is_deleted %}
								<a href="{{ siteroot }}postundel?{{ post.key.id }}" title="Undelete Post" onmouseover="rolloverOn('undo', {{ post.key.id }});" onmouseout="rolloverOff();"><img align="right" id="undo{{ post.key.id }}" src="/img/undo.jpg" width="16" height="16" border="0" /></a>
							{% else %}
								<a href="{{ siteroot }}postdel?{{ post.key.id }}" title="Delete Post" onmouseover="rolloverOn('delete', {{ post.key.id }});" onmouseout="rolloverOff();"><img align="right" id="delete{{ post.key.id }}" src="/img/delete.jpg" width="16" height="16" border="0" /></a>
							{% endif %}
						{% endif %}
						{% if post.user_homepage %}
							<a href="{{ post.user_homepage }}">{{ post.user_name|striptags|escape }}</a>
						{% else %}
							{{ post.user_name|striptags|escape }}
						{% endif %}
						<span class="noIE">&nbsp;</span><br />
						{{ post.created_on|date:"F jS, Y g:ia" }}

						{% if is_moderator %}
							<br />
							From ip: {{ post.user_ip_str }}
						{% endif %}

					</div>
				</div>
			{% endfor %}

			<div class="buttons">
				{% if is_archived %}
					<p><i>This topic is archived. No further replies will be accepted.</i></p>
				{% endif %}

				<a accesskey="t" href="{{ siteroot }}">
					<img src="/img/topics.gif" alt="Other recent topics" border="0" height="14" width="13">
					Other recent <u>t</u>opics
				</a>

				{% if not is_archived %}
				<a accesskey="r" href="{{ siteroot }}post?id={{ topic.key.id }}">
					<img src="/img/edit.gif" alt="Reply to this topic" border="0" height="14" width="13">
					<u>R</u>eply to this topic
				</a>
				{% endif %}
			</div>
		</div>
	</td>
</tr>
</tbody>
</table>
<hr>
<center>Powered by <a href="http://blog.kowalczyk.info/software/fofou">fofou</a> 
(<b><font color="blue">Fo</font></b>rums <b><font color="blue">Fo</font></b>r Yo<b><font color="blue">u</font></b>,
created by <a href="http://blog.kowalczyk.info">Krzysztof Kowalczyk</a>)</center>
<br>

{% if analytics_code %}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("{{ analytics_code }}");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{% endif %}

</body>
</html>

