<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <title>{{ .Subject }}</title>
  <link href="/s/default.css" rel="stylesheet" type="text/css">
  <script src="/s/default.js" type="text/javascript"></script>
  {{ template "analytics.html" . }}
</head>

<body>
<table>
<tbody>
  <tr>
    <td colspan="2">
      {{ .LogInOut }}

      <div class="header">
        <h1><a href="/{{ .ForumUrl }}" class="green">{{ .Title }}</a></h1>
        <p>{{ .Tagline }}</p>
      </div>
    </td>
  </tr>

  {{ $isAdmin := .IsAdmin }}
  {{ $forumUrl := .Forum.ForumUrl }}

  <tr>
    <td class="sidebar">{{ .SidebarHtml }}</td>

	<td class="contents">
		<script type="text/javascript">
			rolloverInit('link', '/img/link_over.jpg');
			rolloverInit('email', '/img/email_over.jpg');
			rolloverInit('web', '/img/web_over.jpg');
			rolloverInit('delete', '/img/delete_over.jpg');
			rolloverInit('undo', '/img/undo_over.jpg');
		</script>
		<div class="posts">
			<h3>{{ .Subject }}</h3>

			{{ range .Posts }}
			<div>
				<div class="{{.CssClass}}">{{ .MessageHtml }}</div>
				<div class="signature">
					{{ if $isAdmin }}
						{{ if .IsDeleted }}
							<a href="/{{$forumUrl}}/postundel?topicId={{.Topic.Id}}&postId={{.Id}}" title="Undelete Post" onmouseover="rolloverOn('undo', {{ .Id }});" onmouseout="rolloverOff();">
							<img align="right" id="undo{{ .Id }}" src="/img/undo.jpg" width="16" height="16" border="0" /></a>
						{{ else }}
							<a href="/{{$forumUrl}}/postdel?topicId={{.Topic.Id}}&postId={{.Id}}" title="Delete Post" onmouseover="rolloverOn('delete', {{.Id}});" onmouseout="rolloverOff();">
							<img align="right" id="delete{{.Id}}" src="/img/delete.jpg" width="16" height="16" border="0" /></a>
						{{ end }}
					{{ end }}

					{{ if $isAdmin }}
						<a href="/{{$forumUrl}}/postsby?user={{ .UserNameInternal }}">{{ .UserName }}</a> on {{ .CreatedOnStr }}
					{{ else }}
						{{ if .UserHomepage }}
							<a href="{{ .UserHomepage }}">{{ .UserName }}</a> on {{ .CreatedOnStr }}
						{{ else }}
							{{.UserName}} on {{.CreatedOnStr}}
						{{ end }}
					{{ end }}

					{{ if $isAdmin }}
						<br/>From ip:
						<a href="/{{$forumUrl}}/postsby?ip={{.IpAddrInternal}}">{{ .IpAddress }}</a>
						<a href="/{{$forumUrl}}/viewraw?topicId={{.Topic.Id}}&postId={{.Id}}">view raw</a>
					{{ end }}
				</div>
			</div>
			{{ end }}

			<div class="buttons">
				<a accesskey="t" href="/{{ .ForumUrl }}">
					<img src="/img/topics.gif" alt="Other recent topics" border="0" height="14" width="13">
					Other recent <u>t</u>opics
				</a>

				<a accesskey="r" href="/{{ .ForumUrl }}/newpost?topicId={{.Topic.Id}}">
					<img src="/img/edit.gif" alt="Reply to this topic" border="0" height="14" width="13">
					<u>R</u>eply to this topic
				</a>
			</div>
		</div>
	</td>
</tr>
</tbody>
</table>

{{ template "footer.html" }}
